
body{
    background-color: #E76622;
}
.container-top{
    margin-top: 15px; 
}
.direccion{
    display: flex;
    color: black;
    text-decoration:none;
    font-size: 10px;
}

.direccion:hover{
    text-decoration: none;
    color: black;
}
.geo{
    display: flex;
    width: 15px;
    height: auto;
}
.ubicacion{
    margin-top: -20px;
    display: flex;
    width: 50%;;
}
.contact{
    margin-top: -20px;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: end;
}
.fono{
    display: flex;
    font-size: 10px;
    margin-top:15px; 
}
.facebook{
    display: flex;
    width: 17px;
    margin: 10px;
}
#instagram{
    display: flex;
    width: 15px;
}