
body{
    background-color: #E76622;
}
.container-top{
    margin-top:15px; 
}
.direccion{
    color: black;
    text-decoration:none;
}
.direccion:hover{
    text-decoration: none;
    color: black;
}
.geo{
    width: 30px;
    height: auto;
}
.ubicacion{
    width: 50%;;
}
.contact{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: end;
}
.fono{
    display: flex;
    padding-top: 15px;
}
.facebook{
    width: 35px;
}
#instagram{
    width: 30px;
}